agate==1.7.1
aiohttp==3.7.4.post0
annotated-types==0.6.0
apache-beam==2.48.0
apache-flink==1.18.1
apache-flink-libraries==1.18.1
appdirs==1.4.4
arrow==1.2.3
asgiref==3.7.2
asttokens==2.2.1
async-timeout==3.0.1
attrs==23.2.0
avro-python3==1.10.2
aws-glue-schema-registry==1.1.2
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.11.1
better-profanity==0.7.0
blessed==1.20.0
boto==2.49.0
boto3==1.20.5
botocore==1.23.54
Brotli==1.0.9
cached-property==1.5.2
cachetools==4.2.4
certifi==2024.2.2
cffi==1.16.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
Collectfast==2.2.0
colorama==0.4.6
commonmark==0.9.1
crcmod==1.7
croniter==1.0.13
cryptography==35.0.0
csscompressor==0.9.5
dbt-core==1.7.8
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.4.3
dbt-spark==1.7.1
decorator==5.1.1
Deprecated==1.2.12
deprecation==2.1.0
dill==0.3.1.1
diskcache==5.2.1
distlib==0.3.6
distro==1.8.0
Django==4.0.7
django-appconf==1.0.5
django-authtools @ git+ssh://git@github.com/ParadoxAi/django-authtools.git@07d5735c33672523466e7c962087286d48d2d83f
django-bulk-update==2.2.0
django-compression-middleware==0.4.1
django-compressor==4.0
django-crispy-forms==1.13.0
django-debug-toolbar==4.1.0
django-dirtyfields==1.3.1
django-environ==0.4.3
django-hashid-field==3.1.3
django-htmlmin==0.10.0
django-ipware==2.1.0
django-json-ld==0.0.5
django-libsass==0.8
django-picklefield==3.1
django-q==1.3.9
django-redis==5.2.0
django-revproxy @ git+ssh://git@github.com/jazzband/django-revproxy.git@9517fc26120e93e1a947f55b9dc571e68178efc0
django-saml2-pro-auth==0.0.12
django-split-settings==1.2.0
django-sslserver==0.22
django-storages==1.12.3
django-user-agents==0.4.0
django-webpack-loader==1.4.1
djangorestframework==3.13.1
dnspython==2.5.0
docopt==0.6.2
dragonmapper==0.2.6
elastic-apm==6.9.1
elasticsearch==7.7.1
executing==1.2.0
fastavro==1.9.4
fasteners==0.19
fastjsonschema==2.17.1
filelock==3.12.2
find-libpython==0.3.1
flagsmith-flag-engine==2.3.0
ftfy==6.0.1
funcsigs==1.0.2
furl==2.1.0
future==0.18.3
geoip2==4.2.0
gevent==23.9.1
google-api-core==1.14.0
google-api-python-client==1.7.11
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-cloud-speech==1.2.0
google-cloud-texttospeech==0.5.0
googleapis-common-protos==1.59.1
greenlet==3.0.3
grpcio==1.60.1
gunicorn==19.7.1
hanzidentifier==1.1.0
hashids==1.3.1
hdfs==2.7.3
html-sanitizer==1.9.3
html2text==2020.1.16
html5lib==1.1
httplib2==0.22.0
identify==2.5.24
idna==3.6
img2pdf==0.4.1
importlib-metadata==6.11.0
ipython==8.14.0
iso8601==0.1.11
isodate==0.6.1
jedi==0.17.2
Jinja2==3.1.3
jmespath==0.10.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kafka-python==2.0.2
leather==0.3.4
libsass==0.22.0
Logbook==1.5.3
loguru==0.5.3
lxml==4.6.5
Markdown==3.2.1
MarkupSafe==2.1.5
marshmallow==3.19.0
mashumaro==3.12
matplotlib-inline==0.1.6
maxminddb==2.3.0
mimesis==15.1.0
minimal-snowplow-tracker==0.0.2
more-itertools==10.2.0
msgpack==1.0.7
multidict==6.0.4
mysqlclient==2.0.3
networkx==3.2.1
nodeenv==1.8.0
numpy==1.24.4
oauth2client==4.1.2
objsize==0.6.1
-e git+ssh://git@github.com/ParadoxAi/olivia.git@03f59e331d0dbf87912cc711bfa5c1b5c632412e#egg=olivia_ui_env
opytz==2016.18
orderedmultidict==1.0.1
orjson==3.9.14
packaging==23.2
pandas==2.2.0
paradox-pycommon @ git+ssh://git@github.com/ParadoxAi/paradox-pycommon.git@7786c2e274fbd470a2555cdbeedac0407929ae90
parsedatetime==2.6
parso==0.7.1
pathspec==0.11.2
pdfkit==0.6.1
pemja==0.3.0
pexpect==4.8.0
phonenumbers==8.11.4
pickleshare==0.7.5
pikepdf==5.6.1
Pillow==9.5.0
platformdirs==3.6.0
ply==3.11
pre-commit==3.3.3
prettytable==2.5.0
prompt-toolkit==3.0.38
proto-plus==1.23.0
protobuf==4.23.4
psutil==5.8.0
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.2.2
pure-sasl==0.6.2
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==20.7.3
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydot==1.4.2
Pygments==2.15.1
PyHive==0.7.0
pyinstrument==4.1.1
PyJWT==1.7.1
pymongo==4.6.1
pyparsing==3.1.1
pypdftk==0.4
pyrsistent==0.19.3
pyspark==3.5.1
python-dateutil==2.8.2
python-magic==0.4.18
python-slugify==8.0.4
python3-saml==1.14.0
pytimeparse==1.1.8
pytz==2024.1
PyYAML==6.0.1
qrcodegen==1.6.0
rcssmin==1.1.0
redis==3.5.3
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-futures==1.0.0
rich==12.4.1
rjsmin==1.2.0
rook==0.1.169
rpds-py==0.18.0
rsa==4.9
ruff==0.2.1
s3transfer==0.5.2
semver==2.13.0
sentry-sdk==1.23.1
six==1.16.0
slimit @ git+ssh://git@github.com/rspivak/slimit.git@40956e7fc6e954b3e6d7b629faeb3303f5efb7ea
soupsieve==2.4.1
sqlparams==6.0.1
sqlparse==0.4.4
stack-data==0.6.2
tabulate==0.8.9
tenacity==6.2.0
text-unidecode==1.3
thrift==0.16.0
thrift-sasl==0.4.3
tqdm==4.66.2
traitlets==5.9.0
typer==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
ua-parser==0.16.1
ujson==1.35
unicornherder==0.2.1
Unidecode==1.2.0
uritemplate==3.0.1
uritools==4.0.1
urlextract==0.14.0
urllib3==1.26.18
user-agents==2.1
virtualenv==20.23.1
wcwidth==0.2.6
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.6.0
Werkzeug==2.3.6
wrapt==1.15.0
XlsxWriter==1.4.3
xmlsec==1.3.13
xmltodict==0.12.0
yarl==1.9.2
zhon==1.1.5
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
zstandard==0.22.0
